
<mat-toolbar style="background-color: black;">
<!--   
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon style="color:white">menu</mat-icon>
    </button>
    <span>Style</span>
    <span class="example-spacer"></span> -->

  <!-- 
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon style="color:white">person_filled</mat-icon>
    <h1>Braulio Yail Palominos Patiño</h1> 
    </button>
    <span>Style</span>
    <span class="example-spacer"></span>
-->
    

    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon style="color:white">logout</mat-icon>
    </button> -->


  </mat-toolbar>