.Contenedor{
background-color: rgb(83, 69, 51);
display: flex;
}

mat-card{ 
    width: 49%;
    margin-left: 0.5%;
    margin-right: 0.5% ;
    height: 430px;
    background-color: rgb(235, 231, 231);
}

table {
    width: 50%;
  }